/************************************************
 * Amysql FTP - AMFTP 3.0
 * amh.sh
 * Update:2021-01-15
 * 
 */

body {
	font-size: 12px;
	font-family:Arial,宋体;
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust:none;
	color:#6D8394;
	text-shadow: white 1px 1px 0;
}

a {
	cursor: pointer;
	outline:none; 
	color:#3366CC;
	blr:expression(this.onFocus=this.blur());   /*chrome*/
	hide-focus:expression(this.hideFocus=true); /*ie*/ 	
	text-decoration: none;
}
h2 {
	margin:0px;
	font-size:14px;
}
p {
	margin:13px;
}
img {
	border:0px;
}
form {
	margin:0px;
}
pre {
	font-family:Arial,宋体;
	background:#FAFAFA;
	margin:10px;
	padding:20px;
	width:700px;
	border:1px solid #DBDBDB;
}
select, input {
	outline: none;
	font-family:Arial,宋体;
}
.clear {
	clear:both;
}
.input_button, .webuploader-pick {
    line-height: 18px;
    padding: 2px 4px;
    border-radius: 3px;
    background: #f3f3f3;
    background-image: linear-gradient(-189deg, #ffffff 49%,#eeeeee 81%);
    border: 1px solid #b6b6b6;
    cursor: pointer;
    margin-right: 1px;
    color: #202020;
    font-size: 12px;
}
.input_button:disabled {
	background: #eaeaea;
    color: #707070;
}
.input_text, .select_text {
	width:180px;
	font-size:12px;
	padding:6px 5px;
	font-family:Arial,宋体;
	height: 17px;
	background: white url(../images/bg-textbox.gif) top center repeat-x;
	color: #555;
	border: 1px solid #DADADA;
	border-left: 1px solid #A8A8A8;
	border-top: 1px solid #A8A8A8;
	outline:none;
	border-radius: 2px;
}
.select_text {
	padding:0px;
	height:29px;
	text-align:center;
	overflow:hidden;
	display:inline-block;
	background-image: linear-gradient(0deg, #FFFFFF 60%,#cbcbcb 200%);
}
.select_text .hidden_border {
	overflow:hidden;
	height:19px;
	*display:inline-block;
	margin:0px auto;
	margin-top: 0px;
	*margin-top: 6px;
}
.select_text select {
	border:0px;
	outline: none;
	margin-top: 6px;
	*margin:-1px;
	color: #5C5858;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url(../images/bg-select.gif) right -5px no-repeat;
	background: #fff\9;
    padding-left: 2px;
    margin-right: -8px;
    padding-right: 25px;
    padding-right: 8px\9;
}
select::-ms-expand {
  display: none;
}
.disabled {
	color:#B4B4B4;
	background:#F7F7F7;
}
.disabled select{
	background: url(../images/bg-select2.gif) right -5px no-repeat;
	background: #F7F7F7\9;
}

/* header *******************************/

#header {
	width:100%;
	margin:0px auto;
	background:#F6F6F6;
	padding:3px 0px 10px 0px;
	border-bottom:1px solid #D3E2E7;
	height:50px;
}
#header font{
	float:left;
	font-size:12px;
}
#header font b {
	padding:10px;
	font-size:23px;
	margin-bottom:-10px;
}
#header font b a{
	color:#647B9D;
}
#header span{
	float:left;
	padding-top:20px;
}
#header #logout {
	float:right;
	margin:20px 20px 0px 0px;
}

/* content *******************************/


#content {
	width:98%;
	margin:15px auto;
	padding: 0px;
	overflow: hidden;
}
#content dl, #content dd, #content dt{
	padding:0px;
	margin:0px;
}
#content dl {
	margin:5px 0px;
}

#content #ftp_port {
	width:20px;
}
#content #ftp_ip {
	width:170px;
}
#content #notice, #content #success {
	width: auto;
	padding: 10px;
	border:1px solid #D6C8C0;
	background:#FFF0EE;
	margin:10px 0px;
	font-size:14px;
	line-height:19px;
}
#content #success {
	background:#F4FFE8;
	border:1px solid #D9E0D2;
}
#content .title {
	font-size:12px;
	background:#F0F4F7;
	padding:7px 17px;
	margin:0px;
}

#content #rawlist {
	width:100%;
}

#content #rawlist td {
	padding:3px 15px;
}
#content #rawlist th {
	font-weight:normal;
	background:#F5F8FA;
	padding:4px 18px;
	text-align:left;
}
#content #rawlist th a{
	display: inline-block;
	width: 99%;
}
#content #rawlist .file_type{
	margin-bottom:-3px;
	float:left;
	margin-right:4px;
}

#content .row {
	background:#F8F8F8;
}
#content .trmove {
	background:#FCF4E4;
}


#upload_block {
	display:none;
	height: 18px;
}
#upload_block object{
	margin-bottom: -6px; 
	-margin-bottom: -2px; 
}
#upload_notice {
	/*margin-top: 8px; 
	float: left;*/
}

.file_name {
	float:left;
	width:250px;
	word-wrap: break-word; word-break: normal; 
}
.file_name_input {
	font-size:12px;
	padding:0px 1px;
	margin-top: -1px;
	width:80%;
}
.action_ico {
	width:10px;
	height:10px;
	background:url(../images/action.png);
	display:inline-block;
	margin-bottom:-2px;
	margin-right:8px;
	float:right;
} 
.edit {
	background-position: 0 -5px;
}
.edit_hover {
	background-position: 0 -24px;
}
.rename {
	background-position: 0 -44px;
}
.rename_hover {
	background-position: 0 -64px;
}
.download {
	background-position: 0 -128px;
}
.download_hover {
	background-position: 0 -147px
}
.delete {
	background-position: 0 -87px;
}
.delete_hover {
	background-position: 0 -108px;
}

#file_content {
	margin:0px;
	color:#3E3E3E;
	padding:0px;
	background: white url(../images/bg-textbox.gif) top center repeat-x;
	border-top: 1px solid #c9c6c6;
    border-bottom: 1px solid #c9c6c6;
	overflow-y: scroll;
	outline: none;
	font-size:12px;
	height:500px;
	width:100%;
}

#move_block {
	display:none;
	margin:10px 0px;
}

.block {
	background-color: rgb(255, 255, 255);
	background: white url(../images/bg-textbox.gif) top center repeat-x;
	width: 978px;
	padding: 10px;
	border: 1px solid rgb(230, 230, 230);
}
#permissions_block {
	margin:10px 0px;
	display:none;
}
#new_block, #remote_download_block {
	margin:10px 0px;
	display:none;
}
.show_dir_dom {
    overflow-y: scroll;
    margin: 5px auto;
}
.show_dir_dom p {
	margin:0px;
	padding:0px;
}
#pwd_str {
    position: absolute;
    float: left;
    left: 6px;
    top: 0px;
}
#pwd {
    text-indent: -1000px;
}
.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    display: inline-block;
}
.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
.ace_print-margin {
    display: none;
}
#load_notice {
	color: #005580;
    background-color: #f1f5fc;
    border: 1px solid #b0c4d9;
    background-image: url(../images/load.gif);
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 5px 25px 5px 40px;
    display: inline-block;
}
/* footer *******************************/


#footer {
	margin:0px auto;
	text-align:left;
	font-size:12px;
	width: 98%;line-height:20px;color:#A5A5A5
}